<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/style.css">
    <!-- Link to the external icon web -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="/">
                <h1>URL Shortener</h1>
            </a>
        </div>
        <div class="auth-links">
            <a href="/signup">
                <i class="fas fa-user-plus auth-icon" style="color: #74C0FC;"></i> Sign Up
            </a>
        </div>
    </header>
    <div class="container">
        <h2>Log In</h2>
        <form action="/user/login" method="POST">
            <input type="email" name="email" placeholder="Enter your email here" required>
            <input type="password" name="password" placeholder="Enter your password here" required>
            <% if (locals.error) { %>
                <p>Wrong gmail or password <br>
                    Try again or <a href="http://localhost:8001/signup">SignUp</a>
                </p>
                <% } %>
                    <button type="submit">Log In</button>
        </form>
    </div>
</body>

</html>