<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Sign Up</h1>
        <form action="/user" method="POST">
            <input type="text" name="name" placeholder="Enter your name here" required>
            <input type="email" name="email" placeholder="Enter your email here" required>
            <input type="password" name="password" placeholder="Enter your password here" required>
            <button type="submit">Create new Account</button>
        </form>
    </div>
</body>
</html>